<launch>
  <arg name="face_cascade_name_0"  default="$(find face_detection)/include/face_detection/HaarCascades/haarcascade_frontalface_alt.xml" />
  <arg name="face_cascade_name_1"  default="$(find face_detection)/include/face_detection//HaarCascades/haarcascade_frontalface_alt2.xml" />
  <arg name="face_cascade_name_2"  default="$(find face_detection)/include/face_detection//HaarCascades/haarcascade_frontalface_alt_tree.xml" />
  <arg name="face_cascade_name_3"  default="$(find face_detection)/include/face_detection//HaarCascades/haarcascade_frontalface_default.xml" />
  <arg name="face_cascade_name_4"  default="$(find face_detection)/include/face_detection/lbpCascades/lbpcascade_frontalface.xml" />

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
	    <param name="video_device" value="/dev/video1" />
	    <param name="image_width" value="640" />
	    <param name="image_height" value="480" />
	    <param name="pixel_format" value="yuyv" />
	    <param name="camera_frame_id" value="usb_cam" />
	    <param name="io_method" value="mmap"/>
    </node>
	  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
	    <remap from="image" to="/usb_cam/image_raw"/>
	    <param name="autosize" value="true" />
  </node>

  <node pkg="face_detection" type="face_detection" name="face_detection"
      args="$(arg face_cascade_name_0)
      $(arg face_cascade_name_1)
      $(arg face_cascade_name_2)
      $(arg face_cascade_name_3)
      $(arg face_cascade_name_4)"
      output="screen"/>
      <remap from="/camera/image_raw" to="/usb_cam/image_raw" />
</launch>
