<launch>
  <node pkg="photobot_joy" name="photobot_joy" type="dslr_camera.py" />  -->
  <node pkg="photobot_joy" name="speech_output" type="speech_output.py" />
  <node name="speech_input" pkg="photobot_joy" type="speech_input_stream.py"> </node>
    <node name="dialogFlowState" pkg="photobot_joy" type="dialogFlowState.py"> </node>
    <node name="ui_transfer" pkg="photobot_joy" type="ui.py"> </node>
    <node name="emailer" pkg="central_node" type="emailer.py"> </node>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="9091"/>
  </include>
</launch>
