<launch>
  <arg name="face_cascade_name_0"  default="$(find face_detection)/include/face_detection/HaarCascades/haarcascade_frontalface_alt.xml" />
  <arg name="face_cascade_name_1"  default="$(find face_detection)/include/face_detection//HaarCascades/haarcascade_frontalface_alt2.xml" />
  <arg name="face_cascade_name_2"  default="$(find face_detection)/include/face_detection//HaarCascades/haarcascade_frontalface_alt_tree.xml" />
  <arg name="face_cascade_name_3"  default="$(find face_detection)/include/face_detection//HaarCascades/haarcascade_frontalface_default.xml" />
  <arg name="face_cascade_name_4"  default="$(find face_detection)/include/face_detection/lbpCascades/lbpcascade_frontalface.xml" />

    
  <include file="/opt/ros/kinetic/share/openni2_launch/launch/openni2.launch" > 
  </include>


  <node pkg="face_detection" type="face_tracking" name="face_tracking"
      args="$(arg face_cascade_name_0)
      $(arg face_cascade_name_1)
      $(arg face_cascade_name_2)
      $(arg face_cascade_name_3)
      $(arg face_cascade_name_4)"
      output="screen">
      <param name="imageInput" value="/camera/rgb/image_rect_color" />
      <param name="imgScale" value="1.0" />
      <param name="maxSize" value="500" />
      <param name="publish" value="2" />
  </node>
<!--  <node pkg="rosaria" name="RosAria" type="RosAria" > 
    <param name="imageInput" value="/dev/ttyUSB1"/>
   </node> -->




</launch>
